extends layout 

block content 
    a(href='/shop') Back to Shop
    h1=title
    form(method='POST' action='').createItemForm
        div.form-group 
            label(for='categoryName') Category Name: 
            input(type='text', placeholder='Category Name' name='categoryName' required='true' value=(category ? category.name : null))#categoryName
        div.form-group 
            label(for='categoryDesc') Description: 
            textarea(rows='4' cols='50' placeholder='Description' name='categoryDesc' required='true')#categoryDesc #{category ? category.description : null}
        button.submit-btn(type='submit') Create