extends layout 

block content 
    h1 THE SHOP
    div
        div.items-grid
            each item in items
                a(href=item.url).gridblocks 
                    div.items-container 
                        div 
                            img(src=`${item.imgUrl}`).grid-img
                        div 
                            span 
                                h4 #{item.name}
                        div 
                            span #{item.description}
