extends layout 

block content 
    h1 THE SHOP
    div
        div.items-grid
            each item in items
                a(href=item.url).gridblocks 
                    div.items-container 
                        div(style='flex: 1') 
                            img(src=item.imgUrl ? item.imgUrl : null).grid-img
                        div 
                            span 
                                h4 #{item.name}
                        div 
                            span #{item.description}
    h2 ADD AN ITEM 
    div 
        a(href='shop/item/create')
            button Add